#image {
  max-width: 100%;
  height: auto;
  align-items: center;
  display: block;
  margin: 0 auto;

}

#img-caption {
  font-size: min(5vw, 1.2em);
}

#tribute-info {
  font-size: min(5vw, 1.2em);
  text-align: center;
}

.h1{
  
  padding: 10px;
  margin: 0;
  text-align: center;
  
}

#title {
  margin: 0 auto;
  text-align: center;
}

p {
  text-align: center;
}